* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
    font-family: Roboto;

}

li {
    list-style-type: none;
}

h2 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.btn {
    background-color: #34547A;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    color: #FFFFFF;
    padding: 13px 36px;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    background-color: rgb(29, 29, 209);
}

.header {
    background: #E5E5E5;
}

.nav_container {
    display: flex;
    justify-content:space-around;
}

.nav-list {
    display: flex;
    justify-content:space-around;
    list-style: none;
    padding: 0;
}

.nav-list-item-wd {
    /* padding-left: 402px;
    padding-right: 398px; */
    margin-top: 50px;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    color: #34547A;
}

.nav-list-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    padding-left: 42px;
    margin-top: 79px;
    transition: 1s;
    cursor: pointer;
    padding-bottom: 162px;
}

span {
    color: #34547A;
}

.header_ {
    display: flex;
    justify-content: center;
}

.container2-item {
    width: 540px;
}

.container2-img {
    padding-right: 177px;
    padding-bottom: 140px;
}

.cotainer2-title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
}

.cotainer2-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #727272;
    margin-bottom: 60px;
}

.about_icon {
    padding: 100px 0;
    background: #34547A;
    color: #FFFFFF;
}

.about {
    padding: 100px 0;
}

.about__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 50px;
}


.about-list {
    display: flex;
    justify-content: space-between;

}

.about__description {
    width: 40%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
}

.about-list-item {
    display: flex;
    flex-flow: wrap;

}

.about-list-description {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    margin-left: 20px;

}

.about-list-description_ {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 20px;
}


.myskells {
    padding: 102px 0;
}

.myskells__line {
    height: 6px;
    width: 100%;
    background-color: #727272;
}

.myskells__line-progress {
    height: 100%;
    width: 70%;
    background-color: #34547A;
}

.myskells-list {
    display: flex;
    /* flex-flow: wrap; */
    /* padding-top: 102px; */
    justify-content: space-between;
    align-items: center;
}

.myskells-title {
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.myskells-list-item {
    width: 38%;
}

.img-face {
    width: 555px;
}
.cotainer2-description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #727272;
    margin-bottom: 20px;

}

.work__title {
    padding-top: 100px;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.work__description {
    width: 40%;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 57px;
}

.works {
    background: #EEEFF1;
    padding-bottom: 100px;
}

.videovideo {
    width: 970px;
    height: 430px;
    display: block;
    margin: 57px auto 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
    border-radius: 10px;
}

.project_img {
    width: 100%;
    padding: 72px 0;
}

.project__img_ {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

}

.pre-footer {
    background: #dbd3d3;
    padding-bottom: 100px;
}

.footer_form_input {
    display: flex;
    justify-content: center;

}

.text1 {
    width: 255px;
    height: 50px;
    padding: 20px;

}

.text2 {
    width: 255px;
    height: 50px;
    margin-left: 30px;
    padding: 20px;

}

.message {
    width: 540px;
    height: 175px;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.footer_dec {
    display: flex;
    background: #34547A;
    justify-content: space-around;
    color: #FFFFFF;
}

.services-btn {
    display: block;
    margin: 0 auto;
}

.project__img-img {
    width: 25%;
}

.vkon {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding-top: 20px;
}